body{
    background-color: rgb(33, 33, 33);
    color: beige;
}

#passwordSection{
    border-style: dotted;
    margin-top: 20%;
    padding: 1% 5% 1% 5%;
}

#submitBtn{
    border-style: dotted;
    margin-top: 1%;
}